.four h1 {
    text-align: center;
    padding-bottom: 0.7em;
  }
  .four h1 span {
    font-weight: 300;
    word-spacing: 3px;
    line-height: 2em;
    padding-bottom: 0.35em;
    color: rgba(0, 0, 0, 0.5);
  }
  .four h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 1px;
    content: "";
    left: 50%;
    margin-left: -30px;
    background-color: #777;
  }
  div{
    padding: 200px;
  }